{
   "PeerData" :  [
           {"name" : "vp0", "api-host" :  "8630de63-3e5f-49b0-8d0b-b76ecf5c49cd_vp0.stage.blockchain.ibm.com", "api-port" : "30443" },
           {"name" : "vp1", "api-host" :  "8630de63-3e5f-49b0-8d0b-b76ecf5c49cd_vp1.stage.blockchain.ibm.com", "api-port" : "30443" },
           {"name" : "vp2", "api-host" :  "8630de63-3e5f-49b0-8d0b-b76ecf5c49cd_vp2.stage.blockchain.ibm.com", "api-port" : "30443" },
           {"name" : "vp3", "api-host" :  "8630de63-3e5f-49b0-8d0b-b76ecf5c49cd_vp3.stage.blockchain.ibm.com", "api-port" : "30443" }
   ],
   "UserData" :  [
           { "username": "user_type1_f449a3a4ff", "secret": "47ad7f4cbf" },
           { "username": "user_type1_aca34238e5", "secret": "2c8e52b8ff" },
           { "username": "user_type1_59af10901d", "secret": "540b660fa1" },
           { "username": "user_type1_3681714f36", "secret": "d033ad54f7" }
   ],
   "PeerGrpc" :  [
        { "api-host" : "9.37.136.143", "api-port" : "32776" } ,
        { "api-host" : "9.37.136.144", "api-port" : "32770" } ,
        { "api-host" : "9.37.136.141", "api-port" : "32768" } ,
        { "api-host" : "9.37.136.142", "api-port" : "32778" }
   ],

    "Name": "ZACI_SERVERS"

}

